<div id="lsd-system-page" class="d-flex max-view-height">
	<div class="lsd-system-select border-end scrollable">
		<lsd-systems-list></lsd-systems-list>
		<div class="lsd-prefs-btn">
			<fa-icon [icon]="['fas', 'cogs']" size="2x" (click)="openPreferences()"></fa-icon>
		</div>
	</div>
	<div class="lsd-system-main-content" *ngIf="system() as s">
		<div class="lsd-menu-bar d-flex">
			<button type="button" class="btn btn-primary" [disabled]="!s.dirty()" (click)="save()">
				<fa-icon [icon]="['fas', 'save']"></fa-icon>
				Save
			</button>
			<div
				class="d-inline-block position-relative ms-2"
				dropdownClass="animate-dropdown"
				container="body"
				ngbDropdown
				[ngbTooltip]="
					s.dirty() || !s.valid() ? 'Changes must be valid and saved before exporting/importing' : ''
				"
			>
				<button
					id="import-export-button"
					class="btn btn-success"
					[disabled]="s.dirty() || !s.valid()"
					ngbDropdownToggle
				>
					<fa-icon [icon]="['fas', 'sd-card']"></fa-icon>
					Export/Import
				</button>
				<div ngbDropdownMenu aria-labelledby="import-export-button">
					<button
						ngbDropdownItem
						ngbTooltip="This will copy all files to your SD Card and can take some time"
						(click)="export()"
					>
						Export All to SD Card
					</button>
					<button
						ngbDropdownItem
						ngbTooltip="This will copy just configs to your SD Card"
						(click)="exportConfigs()"
					>
						Export Configs to SD Card
					</button>
					<button
						ngbDropdownItem
						ngbTooltip="This will copy configs from your SD Card into this system. This will overwrite all variables"
						(click)="importConfigs()"
					>
						Import Configs from SD Card
					</button>
				</div>
			</div>
			<button type="button" class="btn btn-danger ms-2" [disabled]="!s.dirty()" (click)="s.revert()">
				<fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
				Revert Changes
			</button>
			<button type="button" class="btn btn-warning ms-2" (click)="openSystemDir()">
				<fa-icon [icon]="['fas', 'folder']"></fa-icon>
				Open System Folder
			</button>
			<div class="ms-auto my-auto">
				<lsd-update-indicator [disableRestart]="s.dirty()"></lsd-update-indicator>
			</div>
		</div>
		<div class="d-flex h-50 py-2">
			<div class="col-6 h-100 px-2">
				<lsd-config-list name="Main Configuration" [bodyOpts]="mainBodyOpts()"></lsd-config-list>
			</div>
			<div class="col-6 h-100 px-2">
				<lsd-config-list
					name="Profiles"
					[bodyOpts]="groupBodyOpts()"
					(addGroup)="addProfile($event)"
					(deleteGroup)="deleteGroup($event)"
					(groupOrderChange)="orderGroup($event)"
				></lsd-config-list>
			</div>
		</div>
		<div class="d-flex h-50 py-2">
			<div class="col-6 h-100 px-2">
				<lsd-font-list
					[selectFont]="selectedFontId"
					[fontConfigs]="s.fontConfigs"
					(addFontEvent)="addFont()"
					(deleteFont)="deleteFont($event)"
					(fontOrderChange)="orderFonts($event)"
					(selectFontChange)="selectedFontId.set($event)"
				></lsd-font-list>
			</div>
			<div class="col-6 h-100 px-2">
				<lsd-config-list
					[name]="'Font Config - ' + fontConfig()?.name()"
					[cardBody]="fontCardBody"
					[bodyOpts]="fontBodyOpts()"
					[groups]="allGroups()"
					(addSound)="addSound($event)"
					(changeSoundName)="changeSoundName($event)"
					(deleteSound)="deleteSound($event)"
				></lsd-config-list>
			</div>
		</div>
	</div>
</div>

<ng-template #fontCardBody>
	<div class="row mx-3" *ngIf="system() as s">
		<div class="form-inline col-6" *ngIf="selectedBladeConfigVar() as bladeConfig">
			<label class="font-weight-bold col-6" for="prefs-blade-profile">
				Blade Profile
				<fa-icon
					class="unsaved-dot me-1"
					size="2xs"
					[icon]="['fas', 'circle']"
					*ngIf="bladeConfig.dirty()"
				></fa-icon>
			</label>
			<ng-select
				name="prefs-blade-profile"
				id="prefs-blade-profile"
				[clearable]="false"
				[ngModel]="bladeConfig.value()"
				(ngModelChange)="bladeConfig.value.set($event)"
			>
				<ng-option [value]="group.id()" *ngFor="let group of s.mainConfig().groups()">
					{{ group.groupName() }}
				</ng-option>
			</ng-select>
		</div>
		<div class="form-inline col-6" *ngIf="selectedColorConfigVar() as colorConfig">
			<label class="font-weight-bold col-6" for="prefs-color-profile">
				Color Profile
				<fa-icon
					class="unsaved-dot me-1"
					size="2xs"
					[icon]="['fas', 'circle']"
					*ngIf="colorConfig.dirty()"
				></fa-icon>
			</label>
			<ng-select
				name="prefs-color-profile"
				id="prefs-color-profile"
				[clearable]="false"
				[ngModel]="colorConfig.value()"
				(ngModelChange)="colorConfig.value.set($event)"
			>
				<ng-option [value]="group.id()" *ngFor="let group of s.colorConfig().groups()">
					{{ group.groupName() }}
				</ng-option>
			</ng-select>
		</div>
	</div>
</ng-template>
