@import '../../../variables.scss';

$system-select-width: 200px;

#lsd-system-page {
	padding-top: $title-bar-height;
}

.lsd-system-select {
	width: $system-select-width;
	height: 100%;
	flex: 0 0 auto;
	z-index: 5;
	display: flex;
	flex-direction: column;
}

.lsd-menu-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em;
}

.lsd-system-main-content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	padding-top: 4em;
}
