<ng-container *ngIf="input">
	<button
		type="button"
		class="color-btn form-control d-flex align-items-stretch"
		container="body"
		autoClose="outside"
		popoverClass="lsd-color-picker-popover"
		[animation]="true"
		[ngbPopover]="popContent"
		[disabled]="readonly"
	>
		<div class="main-color-container" [style.background-color]="input.value() | colorToRgbStyle"></div>
		<div class="white-color-container">
			<div class="main-color-underlay" [style.background-color]="input.value() | colorToRgbStyle"></div>
			<div class="white-alpha-overlay" [style.background-color]="input.value() | colorToWhiteStyle"></div>
		</div>
	</button>

	<ng-template #popContent>
		<div class="d-flex flex-column flex-wrap" *ngIf="input">
			<strong>RGB</strong>
			<color-chrome
				className="lsd-chrome-picker"
				[color]="input.value() | colorValToRgb"
				[disableAlpha]="true"
				(onChangeComplete)="changeRgbComplete($event)"
			></color-chrome>
			<strong>White</strong>
			<color-alpha-picker
				className="lsd-alpha-picker"
				[color]="input.value() | colorValToAlpha"
				(onChangeComplete)="changeWhiteComplete($event)"
			></color-alpha-picker>
		</div>
	</ng-template>
</ng-container>
