$border-radius: 0.5em;

.white-color-container {
	position: relative;
	width: 50%;
	height: 100%;
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.main-color-container {
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
	width: 50%;
	height: 100%;
}

.white-alpha-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.main-color-underlay {
	width: 100%;
	height: 100%;
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.color-btn {
	padding: 0;
	border: 1px solid #aaa;
	border-radius: $border-radius;
	height: 2rem;
}
