<div class="list-group scrollable list-group-flush">
	<div class="list-group-item font-weight-bold">Available Systems</div>
	<button class="list-group-item list-group-item-action list-group-item-success" (click)="addSystem()">
		<small class="d-flex align-items-center">
			<fa-icon [icon]="['fas', 'plus']"></fa-icon>
			<span class="pl-2">Import System</span>
		</small>
	</button>
	<a
		class="list-group-item list-group-item-action"
		*ngFor="let system of systemList()"
		[ngClass]="{ active: system === selectedSystem() }"
		[routerLink]="['/systems', system]"
		(click)="loaderServ.setState(true, 'Loading System ' + system)"
	>
		{{ system }}
	</a>
</div>
