<div class="form-row" *ngIf="input">
	<div class="form-check-inline" *ngFor="let i of input.definition.bitLength | trackIndexByLength">
		<input
			type="checkbox"
			class="form-check-input position-static"
			name="{{ name + '-' + i }}"
			id="{{ name + '-' + i }}"
			[ngModel]="input.value()[i]"
			(ngModelChange)="change(i, $event)"
		/>
	</div>
</div>
