<div class="modal-header" [ngClass]="settings.theme()">
	<h5 class="modal-title">Preferences</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" [ngClass]="settings.theme()">
	<div class="form-row" *ngIf="served">
		<div class="form-group col">
			<button class="btn btn-danger" (click)="openUpdateDebugger()">Open Update Debugger</button>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="theme-select">Theme</label>
			<select
				name="theme-select"
				id="theme-select"
				class="form-select"
				ngbAutofocus
				[ngModel]="settings.theme()"
				(ngModelChange)="settings.theme.set($event)"
			>
				<option [value]="theme.value" *ngFor="let theme of THEMES | keyvalue">
					{{ theme.key | titlecase }}
				</option>
			</select>
		</div>
		<div class="form-group col">
			<label for="build-select">Build</label>
			<select
				name="build-select"
				id="build-select"
				class="form-select"
				[ngModel]="settings.channel()"
				(ngModelChange)="settings.channel.set($event)"
			>
				<option [value]="build.value" *ngFor="let build of BUILDS | keyvalue">
					{{ build.key | titlecase }}
				</option>
			</select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="library-loc">Library Location</label>
			<div class="input-group">
				<input
					type="text"
					name="library-loc"
					id="library-loc"
					class="form-control"
					[ngModel]="settings.libraryLocation()"
					disabled
				/>
				<div class="input-group-append">
					<button class="btn btn-primary" (click)="chooseLibPath()">
						<fa-icon [icon]="['fas', 'folder']"></fa-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Create a footer in the modal that has a link to the source code -->
<div class="modal-footer" [ngClass]="settings.theme()">
	<fa-icon class="action" [icon]="['fab', 'gitlab']" (click)="openSourceLink()">Source Code</fa-icon>
</div>
