<ng-container *ngIf="input.value() as value">
	<div
		class="input-group mb-1"
		*ngFor="let i of (input.definition.expandable ? value.length : input.definition.arrLength) | trackIndexByLength"
	>
		<input
			type="number"
			class="form-control"
			[ngModel]="value[i]"
			[name]="name + '-' + i"
			[id]="name + '-' + i"
			[min]="input.definition.minValueArr[input.definition.expandable ? 0 : i]"
			[max]="input.definition.maxValueArr[input.definition.expandable ? 0 : i]"
			[ngClass]="{ 'is-invalid': !input.validArr()[i] }"
			[ngbTooltip]="
				'Max Value: ' +
				input.definition.maxValueArr[input.definition.expandable ? 0 : i] +
				', Min Value: ' +
				input.definition.minValueArr[input.definition.expandable ? 0 : i]
			"
			(ngModelChange)="setValue(i, $event)"
		/>
		<div class="input-group-append" *ngIf="input.definition.expandable">
			<button
				class="btn btn-danger font-weight-bold"
				ngbTooltip="Remove Value"
				*ngIf="value.length > 1"
				(click)="removeValue(i)"
			>
				-
			</button>
			<button
				class="btn btn-success font-weight-bold"
				ngbTooltip="Add Value"
				*ngIf="i === value.length - 1 && value.length < input.definition.arrLength"
				(click)="addValue()"
			>
				+
			</button>
		</div>
	</div>
</ng-container>
