<mat-accordion
	cdkDropList
	class="list-group list-group-flush"
	[cdkDropListData]="groupIdOrder()"
	(cdkDropListDropped)="drop($event)"
>
	<mat-expansion-panel
		cdkDrag
		class="list-group-item py-2"
		*ngFor="let group of groups()"
		[cdkDragData]="group.id()"
		[ngClass]="settings.theme()"
		(cdkDragStarted)="$event.event.preventDefault(); $event.event.stopPropagation(); dragStart()"
	>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<fa-icon class="draggable me-2" cdkDragHandle [icon]="['fas', 'grip-lines']"></fa-icon>
				<ng-container *ngIf="group.name === GT.color">
					<div class="col-4 px-1" *ngIf="group | colorValue as groupColor">
						<lsd-color-input [input]="groupColor" [readonly]="true"></lsd-color-input>
					</div>
				</ng-container>
				<div class="col px-1 text-truncate">
					{{ group.groupName() }}
				</div>
			</mat-panel-title>
			<mat-panel-description class="justify-content-end">
				<fa-icon class="unsaved-dot me-1" size="2xs" [icon]="['fas', 'circle']" *ngIf="group.dirty()"></fa-icon>
				<fa-icon
					*ngIf="!group.valid"
					class="danger-action"
					ngbTooltip="There are invalid variables. Click to correct them"
					placement="left"
					[icon]="['fas', 'exclamation-circle']"
					(click)="$event.preventDefault(); $event.stopPropagation(); openInvalidVariablesModal(group)"
				></fa-icon>
				<fa-icon
					class="success-action"
					ngbTooltip="Edit the profile name"
					placement="left"
					[icon]="['fas', 'edit']"
					(click)="$event.preventDefault(); $event.stopPropagation(); openEditNameModal(group)"
				></fa-icon>
				<fa-icon
					class="danger-action"
					ngbTooltip="Delete the profile"
					placement="left"
					[icon]="['fas', 'trash']"
					(click)="$event.preventDefault(); $event.stopPropagation(); confirmDelete(group)"
				></fa-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<ng-template matExpansionPanelContent>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" *ngFor="let confVar of group.variables() | orderBy : 'name' : 'asc'">
					<lsd-config-var-row [confVar]="confVar"></lsd-config-var-row>
				</li>
			</ul>
		</ng-template>
	</mat-expansion-panel>
</mat-accordion>
