<div class="modal-header" [ngClass]="settings.theme()">
	<h4 class="modal-title">Choose sound name</h4>
</div>
<div class="modal-body" [formGroup]="soundNameForm" [ngClass]="settings.theme()">
	<select class="form-select" formControlName="name" required ngbAutofocus (change)="printForm()">
		<option [ngValue]="null">Select a sound name...</option>
		<option *ngFor="let nameOpt of availableNames" [ngValue]="nameOpt">
			{{ nameOpt }}
		</option>
	</select>
	<div class="invalid-feedback" *ngIf="name?.errors?.pattern">Must choose a name</div>
</div>
<div class="modal-footer d-flex justify-content-around" [ngClass]="settings.theme()">
	<button
		type="submit"
		class="btn btn-primary"
		[disabled]="!soundNameForm.valid"
		(click)="activeModal.close(soundNameForm.value)"
	>
		Save
	</button>
	<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>
