<div class="modal-header" [ngClass]="settings.theme()">
	<h4 class="modal-title">Fix invalid variables</h4>
</div>
<div class="modal-body" [ngClass]="settings.theme()">
	<ul class="list-group list-group-flush">
		<li class="list-group-item" *ngFor="let confVar of variables | orderBy : 'name' : 'asc'">
			<lsd-config-var-row [confVar]="confVar"></lsd-config-var-row>
		</li>
	</ul>
</div>
<div class="modal-footer d-flex justify-content-around" [ngClass]="settings.theme()">
	<button
		class="btn btn-primary"
		ngbTooltip="This will set all variables to a default valid value"
		(click)="autoFixAll()"
	>
		Fix All
	</button>
	<button class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
</div>
