@import '../../../variables';

$title-bar-margin: 4px;

.title {
	color: white !important;
	font-size: 12px;
	padding-left: 10px;
	font-weight: bold;
}

.title-drag {
	-webkit-app-region: drag;
	margin-top: $title-bar-margin;
	margin-left: $title-bar-margin;
	margin-right: $title-bar-margin;
}

.title-button-group {
	-webkit-app-region: no-drag;
	display: flex;
	align-items: center;
	height: 100%;
	padding-right: 5px;
}

.title-bar-content {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

#win32-close,
#win32-max,
#win32-min {
	margin-top: -$title-bar-margin;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	display: flex;
	align-items: center;
	color: white !important;
}

#win32-max,
#win32-min {
	&:hover {
		background-color: rgb(182, 182, 182);
		color: black !important;
	}
}

#win32-close {
	&:hover {
		background-color: red;
	}
}
