<div id="lsd-title-bar">
	<div class="title-drag">
		<div *ngIf="platform === 'darwin'" class="d-flex h-100 align-itmes-center justify-content-center">
			<div class="title">Lightsaber Systems Designer</div>
		</div>
		<div *ngIf="platform !== 'darwin'" class="d-flex h-100 align-itmes-center justify-content-between">
			<div class="title">Lightsaber Systems Designer</div>
			<div class="title-button-group">
				<div id="win32-min">
					<fa-icon [icon]="['far', 'window-minimize']" (click)="minimize()"></fa-icon>
				</div>
				<div id="win32-max">
					<fa-icon
						[icon]="['far', maximized() ? 'window-restore' : 'window-maximize']"
						(click)="maxOrRestore()"
					></fa-icon>
				</div>
				<div id="win32-close">
					<fa-icon [icon]="['fas', 'times']" (click)="close()"></fa-icon>
				</div>
			</div>
		</div>
	</div>
</div>
