<ng-container *ngIf="updateServ.updateState() as updateObj">
	<div class="d-flex" [ngSwitch]="updateObj.state">
		<button
			class="btn btn-success"
			type="button"
			ngbTooltip="Update available! Click to download"
			*ngSwitchCase="STATE.AVAILABLE"
			(click)="startDownload()"
		>
			<fa-icon class="me-2" size="lg" [icon]="['fas', 'arrow-alt-circle-down']"></fa-icon>
			Update Available!
		</button>
		<div *ngSwitchCase="STATE.DOWNLOADING">
			<button class="btn btn-secondary" type="button" disabled>
				<fa-icon class="me-2" size="lg" [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
				{{ updateObj.percentDone | number : '1.0-2' }}%
			</button>
		</div>
		<div
			*ngSwitchCase="STATE.DOWNLOADED"
			[ngbTooltip]="disableRestart ? 'Changes must be saved before updating' : 'Restart and install update'"
		>
			<button class="btn btn-warning" type="button" [disabled]="disableRestart" (click)="restartInstall()">
				<fa-icon class="me-2" size="lg" [icon]="['fas', 'redo-alt']"></fa-icon>
				Restart to Install
			</button>
		</div>
	</div>
</ng-container>
