<div class="modal-header" [ngClass]="settings.theme()">
	<h4 class="modal-title">Edit the profile name</h4>
</div>
<div class="modal-body" [formGroup]="importForm" [ngClass]="settings.theme()">
	<input type="text" class="form-control" formControlName="name" required ngbAutofocus (change)="printForm()" />
	<div class="invalid-feedback" *ngIf="name?.errors?.pattern">A name is required</div>
</div>
<div class="modal-footer d-flex justify-content-around" [ngClass]="settings.theme()">
	<button
		type="submit"
		class="btn btn-primary"
		[disabled]="!importForm.valid"
		(click)="activeModal.close(importForm.value)"
	>
		Save
	</button>
	<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>
