<div class="modal-header" [ngClass]="settings.theme()">
	<h4 class="modal-title">Name your new system!</h4>
</div>
<div class="modal-body" [ngClass]="settings.theme()" [formGroup]="importForm">
	<div class="form-group">
		<input type="text" class="form-control" formControlName="name" required ngbAutofocus (change)="printForm()" />
		<div class="invalid-feedback" *ngIf="name?.errors?.systemExists">
			Name must not be the same as an existing system
		</div>
		<div class="invalid-feedback" *ngIf="name?.errors?.pattern">Must be a valid folder name</div>
	</div>
</div>
<div class="modal-footer d-flex justify-content-around" [ngClass]="settings.theme()">
	<button
		type="submit"
		class="btn btn-primary"
		[disabled]="!importForm.valid"
		(click)="activeModal.close(importForm.value)"
	>
		Import
	</button>
	<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>
