<ng-container *ngIf="confVar.configValue() as value">
	<div class="row align-items-start">
		<div class="col d-flex flex-column">
			<div class="conf-var-name">
				[{{ confVar.name }}]
				<fa-icon
					class="warn-action"
					ngbTooltip="Variable is invalid. Click to auto fix"
					[icon]="['fas', 'wrench']"
					(click)="value.autoFixValue()"
					*ngIf="!value.valid()"
				></fa-icon>
				<fa-icon
					class="unsaved-dot ms-1"
					size="2xs"
					[icon]="['fas', 'circle']"
					*ngIf="confVar.configValue().dirty()"
				></fa-icon>
			</div>
			<small class="conf-var-description">
				{{ value.definition.description }}
			</small>
		</div>
		<div class="col-12 pt-2" *ngIf="value.type === T.PROFILE">
			<lsd-profile-selector-input
				[name]="confVar.name"
				[input]="value"
				[groups]="groups"
			></lsd-profile-selector-input>
		</div>
		<div class="col-5" *ngIf="value.type !== T.PROFILE">
			<lsd-enumeration-input
				*ngIf="value.type === T.ENUM"
				[name]="confVar.name"
				[input]="value"
			></lsd-enumeration-input>
			<lsd-boolean-input
				*ngIf="value.type === T.BOOLEAN"
				[name]="confVar.name"
				[input]="value"
			></lsd-boolean-input>
			<lsd-integer-array-input
				*ngIf="value.type === T.INTEGER_ARR"
				[name]="confVar.name"
				[input]="value"
			></lsd-integer-array-input>
			<lsd-integer-input
				*ngIf="value.type === T.INTEGER"
				[name]="confVar.name"
				[input]="value"
			></lsd-integer-input>
			<lsd-string-input
				*ngIf="value.type === T.STRING || value.type === T.UNKNOWN"
				[name]="confVar.name"
				[input]="value"
			></lsd-string-input>
			<lsd-bitfield-input
				*ngIf="value.type === T.BITFIELD"
				[name]="confVar.name"
				[input]="value"
			></lsd-bitfield-input>
			<lsd-color-input *ngIf="value.type === T.COLOR" [name]="confVar.name" [input]="value"></lsd-color-input>
		</div>
	</div>
</ng-container>
