<div class="lsd-loader-container d-flex align-items-center justify-content-center" *ngIf="loaderServ.state()">
	<p class="w-75 text-center">
		<ngb-progressbar type="primary" [value]="100" height="35px" [striped]="true" [animated]="true">
			<h4>
				<strong>{{ loaderServ.message() || 'Loading...' }}</strong>
			</h4>
		</ngb-progressbar>
		<small *ngIf="loaderServ.subMessage()">{{ loaderServ.subMessage() }}</small>
	</p>
</div>
