<div class="form-row pt-5">
	<div class="form-group col">
		<button class="btn btn-primary" (click)="updateAvailable()">Mark Update Available</button>
	</div>
	<div class="form-group col">
		<button class="btn btn-success" (click)="updateDownloaded()">Mark Update Downloaded</button>
	</div>
	<div class="form-group col">
		<input type="number" max="100" min="0" class="form-control" [(ngModel)]="percentDownloaded" />
		<button class="btn btn-warning" (click)="downloadProgress()">Set Percent Complete</button>
	</div>
</div>
