<div class="modal-header" [ngClass]="settings.theme()">
	<h4 class="modal-title">Delete {{ name }}</h4>
</div>
<div class="modal-body" [ngClass]="settings.theme()">
	Are you sure you want to delete {{ name }}? It will be permanantly deleted and you cannot undo this action
</div>
<div class="modal-footer d-flex justify-content-around" [ngClass]="settings.theme()">
	<button class="btn btn-danger" (click)="activeModal.close()">Delete!</button>
	<button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>
