<div class="card h-100 system-page-card">
	<h5 class="card-header d-flex align-items-center justify-content-between">
		<div class="d-flex align-items-center">
			{{ name }}
			<fa-icon class="unsaved-dot ms-1" size="2xs" [icon]="['fas', 'circle']" *ngIf="dirty()"></fa-icon>
		</div>
		<div class="d-flex justify-content-end align-items-center" *ngIf="activeTab() as tab">
			<fa-icon
				class="danger-action"
				ngbTooltip="There are invalid variables. Click to correct them"
				[icon]="['fas', 'exclamation-circle']"
				(click)="openInvalidVariablesModal()"
				*ngIf="!valid()"
			></fa-icon>
			<div
				*ngIf="tab.type === BT.GROUP_LIST"
				[ngbTooltip]="tab.groups.length >= 32 ? 'Max profiles allowed is 32' : ''"
			>
				<button class="btn btn-success" [disabled]="tab.groups.length >= 32" (click)="addGroup.emit(tab)">
					<fa-icon [icon]="['fas', 'plus']"></fa-icon>
					Add Profile
				</button>
			</div>
			<div *ngIf="tab.type === BT.SOUND_LIST">
				<button class="btn btn-success" (click)="addSound.emit(tab.areTracks)">
					<fa-icon [icon]="['fas', 'plus']"></fa-icon>
					Add {{ tab.areTracks ? 'Track' : 'Sound' }}
				</button>
			</div>
		</div>
	</h5>
	<div class="lsd-card-body pb-0">
		<nav
			ngbNav
			#nav="ngbNav"
			class="nav-tabs"
			[activeId]="activeTabTitle()"
			(activeIdChange)="activeTabTitle.set($event)"
		>
			<ng-container [ngbNavItem]="body.tabTitle" *ngFor="let body of bodyOpts">
				<a ngbNavLink>
					{{ body.tabTitle }}
					<fa-icon
						class="unsaved-dot ms-1"
						size="2xs"
						[icon]="['fas', 'circle']"
						*ngIf="body.dirty()"
					></fa-icon>
				</a>
				<ng-template ngbNavContent>
					<ul class="list-group h-100 list-group-flush" *ngIf="body.type === BT.VAR_LIST">
						<li
							class="list-group-item"
							*ngFor="let confVar of body.configVars() | orderBy : 'name' : 'asc'"
						>
							<lsd-config-var-row [confVar]="confVar" [groups]="groups"></lsd-config-var-row>
						</li>
					</ul>
					<div class="card-body h-100" *ngIf="body.type === BT.TEXT_FILE && body.textFile()">
						<textarea
							class="form-control h-100"
							[ngModel]="body.textFile()?.text()"
							(ngModelChange)="body.textFile()?.text?.set($event)"
						></textarea>
					</div>
					<div *ngIf="body.type === BT.SOUND_LIST" class="h-100">
						<ul class="list-group list-group-flush" *ngIf="body.soundFiles()?.length">
							<li
								class="list-group-item"
								*ngFor="
									let sound of body.soundFiles() | orderBy : ['defSoundName', 'soundNumber'] : 'asc'
								"
							>
								<lsd-sound-row
									[sound]="sound"
									(changeSoundName)="changeSoundName.emit($event)"
									(deleteSound)="deleteSound.emit($event)"
								></lsd-sound-row>
							</li>
						</ul>
						<h4 class="text-center pt-3" *ngIf="!body.soundFiles()?.length">
							No {{ body.areTracks ? 'tracks' : 'sounds' }} present
						</h4>
					</div>
					<div class="h-100 scrollable" cdkScrollable *ngIf="body.type === BT.GROUP_LIST">
						<lsd-group-config-list
							[groups]="body.groups"
							(deleteGroup)="deleteGroup.emit([$event, body])"
							(groupOrderChange)="groupOrderChange.emit([$event, body])"
						></lsd-group-config-list>
					</div>
				</ng-template>
			</ng-container>
		</nav>
	</div>
	<div class="lsd-card-body border-bottom" *ngIf="cardBody">
		<ng-container *ngTemplateOutlet="cardBody"></ng-container>
	</div>
	<div class="card-body scrollable p-0 mb-1" [ngbNavOutlet]="nav"></div>
</div>
