$square-size: 15px;
$border-radius: 5px;

.color-label {
	width: $square-size;
	height: $square-size;
	display: inline-block;

	.main-color {
		display: inline-block;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		width: 50%;
		height: 100%;
	}

	.white-color {
		position: relative;
		display: inline-block;
		width: 50%;
		height: 100%;

		.main-underlay {
			width: 100%;
			height: 100%;
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}

		.white-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			z-index: 1;
			top: 0;
			left: 0;
		}
	}
}
