<ng-select
	appendTo="body"
	[closeOnSelect]="false"
	[hideSelected]="true"
	[multiple]="true"
	[ngModel]="selectedGroups()"
	(add)="onAdd($event)"
>
	<ng-template ng-label-tmp let-item="item" let-clear="clear">
		<div class="d-flex align-items-center">
			<span class="ng-value-label d-flex align-items-center">
				<ng-container *ngIf="item | colorValue as itemColor">
					<span class="color-label me-2" *ngIf="item.name === GT.color && itemColor">
						<div class="main-color" [style.background-color]="itemColor.value() | colorToRgbStyle"></div>
						<div class="white-color">
							<div
								class="main-underlay"
								[style.background-color]="itemColor.value() | colorToRgbStyle"
							></div>
							<div
								class="white-overlay"
								[style.background-color]="itemColor.value() | colorToWhiteStyle"
							></div>
						</div>
					</span>
				</ng-container>
				{{ item.groupName() }}
			</span>
			<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">
				<fa-icon class="action" size="sm" [icon]="['fas', 'times']"></fa-icon>
			</span>
		</div>
	</ng-template>

	<ng-option [value]="group" *ngFor="let group of groupSelectOpts()">
		<div class="row d-flex align-items-center px-2" *ngIf="group | colorValue as itemColor">
			<div class="col-2 px-2" *ngIf="group.name === GT.color && itemColor">
				<lsd-color-input [input]="itemColor" [readonly]="true"></lsd-color-input>
			</div>
			<div class="col px-1 text-truncate">
				{{ group.groupName() }}
			</div>
		</div>
	</ng-option>
</ng-select>
