/* You can add global styles to this file, and also import other style files */

@import './variables.scss';
@import 'bootstrap/scss/bootstrap';
@import '@ng-select/ng-select/themes/default.theme.css';

$color-transition: background-color 0.2s linear, border-color 0.2s linear, border-bottom-color 0.2s linear,
	border-top-color 0.2s linear, border-left-color 0.2s linear, border-right-color 0.2s linear, color 0.2s linear,
	filter 0.2s linear;

body {
	background: transparent;
}

.theme-dark {
	@extend .text-white;
	transition: $color-transition;
	background-color: $gray-800;

	.list-group-item:not(.list-group-item-success):not(.active),
	.nav-link.active,
	.nav-tabs {
		@extend .text-white;
		border-color: $gray-600 !important;
		transition: $color-transition;
		background-color: $gray-800;
	}

	.card {
		@extend .text-white;
		transition: $color-transition;
		border-color: $gray-600 !important;
		background-color: $gray-800;

		.card-header {
			background-color: $gray-900;
			transition: $color-transition;
		}
	}

	.nav-link,
	input.form-control-plaintext {
		@extend .text-white;
		transition: $color-transition;
	}

	.border-end,
	.border-start,
	.border-top,
	.border-bottom {
		transition: $color-transition;
		border-color: $gray-600 !important;
	}

	.lsd-card-body,
	.card-body {
		transition: $color-transition;
		background-color: $gray-800;
	}

	.lsd-chrome-picker {
		transition: $color-transition;
		background-color: inherit;
	}

	.modal-header,
	.modal-body,
	.btn-close {
		@extend .text-white;
		transition: $color-transition;
		background-color: $gray-800;
	}

	summary::before {
		border-color: transparent transparent transparent white;
	}
}

.theme-light {
	@extend .text-dark;
	transition: $color-transition;
	background-color: $gray-100;

	.list-group-item:not(.list-group-item-success):not(.active),
	.nav-link.active,
	.nav-tabs {
		@extend .text-dark;
		transition: $color-transition;
		background-color: $gray-100;
		border-color: $gray-500 !important;
	}

	.card {
		.card-header {
			@extend .text-dark;
			transition: $color-transition;
		}

		@extend .text-dark;
		border-color: $gray-500 !important;
		transition: $color-transition;
	}

	.nav-link,
	input.form-control-plaintext {
		@extend .text-dark;
		transition: $color-transition;
	}

	.border-end,
	.border-start,
	.border-top,
	.border-bottom {
		border-color: $gray-500 !important;
		transition: $color-transition;
	}

	.lsd-card-body,
	.card-body {
		transition: $color-transition;
		background-color: $gray-100;
	}

	.lsd-chrome-picker {
		transition: $color-transition;
		background-color: inherit;
	}

	.modal-header,
	.modal-body,
	.btn-close {
		@extend .text-dark;
		transition: $color-transition;
		background-color: $gray-100;
	}

	summary::before {
		border-color: transparent transparent transparent black;
	}
}

#lsd-title-bar {
	height: $title-bar-height;
	width: 100%;
	background-color: $gray-900;
	position: fixed;
}

.lsd-prefs-btn {
	@extend .mt-auto, .text-center, .p-4;

	fa-icon {
		cursor: pointer;
	}
}

.list-group-item-action {
	cursor: pointer;
}

.lsd-color-picker-popover {
	background-color: $gray-200;

	&.bs-popover-bottom > .arrow::after {
		border-bottom-color: $gray-200 !important;
	}
	&.bs-popover-top > .arrow::after {
		border-top-color: $gray-200 !important;
	}
	&.bs-popver-left > .arrow::after {
		border-left-color: $gray-200 !important;
	}
	&.bs-popover-right > .arrow::after {
		border-right-color: $gray-200 !important;
	}
}

.card-body > .tab-pane {
	height: 100%;
}

.system-page-card > h5.card-header > div {
	height: 40px;
}

.scrollable {
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.26);
		border-radius: 4px;
	}
}

.conf-var-name {
	@extend .fw-bold;
}

.conf-var-description {
	@extend .fst-italic;
}

.max-view-height {
	height: 100vh;
}

.lsd-chrome-picker {
	width: 100% !important;
	box-shadow: none !important;
	font-family: inherit !important;
	background-color: $gray-200 !important;
	color: black !important;
}

.lsd-alpha-picker {
	width: 100% !important;
}

.lsd-card-body {
	@extend .card-body;
	flex: 0 0 auto;
	padding: 10px;
}

fa-icon.invalid {
	color: red;
}

input.ng-invalid {
	@extend .is-invalid;
}

.dropdown.animate-dropdown > .dropdown-menu.show {
	animation: drop-anim 0.2s ease-in-out;
}

@keyframes drop-anim {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
		transform: scale(1, 0) translate(0, -100%);
	}

	100% {
		opacity: 1;
		transform: scale(1, 1) translate(0);
	}
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-group-item:last-child {
	border: none;
}

.list-group.cdk-drop-list-dragging .list-group-item:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

body.inherit-cursors * {
	cursor: inherit !important;
}

@mixin action($color: inherit) {
	@extend .px-1;
	cursor: pointer;
	color: $color;
	transition: $color-transition;

	&.active {
		color: white;

		&:hover {
			color: $gray-500;
		}
	}

	&:hover {
		filter: brightness(80%);
	}

	&:active {
		filter: brightness(200%);
	}
}

.action {
	@include action();
}

.draggable {
	@include action();
	cursor: grab;
}

.success-action {
	@include action($success);
}

.primary-action {
	@include action($primary);
}

.secondary-action {
	@include action($secondary);
}

.danger-action {
	@include action($danger);
}

.warn-action {
	@include action($warning);
}

.unsaved-dot {
	color: $warning;
}
