<div id="app-alert-container" class="toast-container position-fixed p-3">
	<ngb-toast
		*ngFor="let alert of alertServ.alerts()"
		[ngClass]="{
			'bg-danger': alert.type === T.ERROR,
			'bg-success': alert.type === T.SUCCESS,
			'bg-warning': alert.type === T.WARN,
			'text-light': alert.type === T.ERROR || alert.type === T.SUCCESS
		}"
		[autohide]="true"
		[delay]="alert.hideDelay || 10000"
		(hidden)="alertServ.remove(alert)"
	>
		<ng-container [ngSwitch]="alert.type">
			<fa-icon *ngSwitchCase="T.SUCCESS" [icon]="['fas', 'check']"></fa-icon>
			<fa-icon *ngSwitchCase="T.WARN" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
			<fa-icon *ngSwitchCase="T.ERROR" [icon]="['fas', 'exclamation-circle']"></fa-icon>
		</ng-container>
		{{ alert.message }}
	</ngb-toast>
</div>
