<div class="card h-100 system-page-card">
	<h5 class="card-header d-flex align-items-center justify-content-between">
		<div class="d-flex align-items-center">Fonts</div>
		<div class="d-flex justify-content-end align-items-center">
			<button class="btn btn-success" (click)="addFontEvent.emit()">
				<fa-icon [icon]="['fas', 'plus']"></fa-icon>
				Add Font
			</button>
		</div>
	</h5>
	<div
		cdkDropList
		class="list-group list-group-flush scrollable"
		cdkScrollable
		[cdkDropListData]="fontIdOrder()"
		(cdkDropListDropped)="drop($event)"
	>
		<div
			*ngFor="let font of fontConfigs()"
			cdkDrag
			class="list-group-item list-group-item-action"
			[cdkDragData]="font.id"
			[ngClass]="{ active: selectFont() === font.id() }"
			(cdkDragStarted)="dragStart()"
			(click)="selectFont.set(font.id())"
		>
			<div class="row">
				<div class="col-2 d-flex justify-content-between">
					<fa-icon class="draggable" cdkDragHandle [icon]="['fas', 'grip-lines']"></fa-icon>
					{{ font.id() }}
				</div>
				<div class="col d-flex justify-content-between">
					<span class="align-items-center">
						{{ font.name() }}
					</span>
					<div>
						<fa-icon
							class="unsaved-dot me-1"
							size="sm"
							[icon]="['fas', 'circle']"
							*ngIf="font.dirty()"
						></fa-icon>
						<fa-icon
							*ngIf="!font.valid"
							class="danger-action"
							ngbTooltip="There are invalid variables"
							[icon]="['fas', 'exclamation-circle']"
							[ngClass]="{ active: selectFont() === font.id() }"
							(click)="$event.preventDefault(); $event.stopPropagation(); openInvalidVariablesModal(font)"
						></fa-icon>
						<fa-icon
							class="success-action"
							ngbTooltip="Edit font name"
							[ngClass]="{ active: selectFont() === font.id() }"
							[icon]="['fas', 'edit']"
							(click)="$event.preventDefault(); $event.stopPropagation(); openEditNameModal(font)"
						></fa-icon>
						<fa-icon
							class="danger-action"
							ngbTooltip="Delete font"
							[icon]="['fas', 'trash']"
							[ngClass]="{ active: selectFont() === font.id() }"
							(click)="$event.preventDefault(); $event.stopPropagation(); confirmDelete(font)"
						></fa-icon>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
