$audio-height: 35px;
$audio-width: 100px;

audio {
	width: $audio-width;
	height: $audio-height;
}

audio::-webkit-media audio::-webkit-media-controls-panel {
	height: $audio-height;
}

/* Removes the timeline */
audio::-webkit-media-controls-timeline {
	display: none !important;
}

/* Removes the time stamp */
audio::-webkit-media-controls-current-time-display {
	display: none;
}

audio::-webkit-media-controls-time-remaining-display {
	display: none;
}

audio::-webkit-media-controls-mute-button {
	display: none;
}
