<div class="row align-items-center">
	<div class="col d-flex flex-column">
		<div class="conf-var-name">[{{ sound.soundName }}]</div>
		<small class="conf-var-description">
			{{ sound.description }}
		</small>
	</div>
	<div class="col-4 justify-content-center d-flex">
		<audio controls [volume]="0.5" [loop]="sound.loops" [src]="sound.uriPath"></audio>
	</div>
	<div class="col-2 d-flex justify-content-end">
		<fa-icon
			*ngIf="!sound?.isTrack"
			class="success-action"
			ngbTooltip="Change the sound name"
			placement="left"
			[icon]="['fas', 'edit']"
			(click)="changeSoundName.emit(sound)"
		></fa-icon>
		<fa-icon
			class="danger-action"
			ngbTooltip="Delete the sound"
			placement="left"
			[icon]="['fas', 'trash']"
			(click)="deleteSoundFile()"
		></fa-icon>
	</div>
</div>
