<div class="form-check" *ngIf="input.value() as value">
	<input
		type="checkbox"
		class="form-check-input"
		*ngIf="input"
		[ngModel]="value"
		(ngModelChange)="input.value.set($event)"
		[name]="name"
		[id]="name"
		[ngClass]="{ 'is-invalid': !input.valid() }"
	/>
	<label [for]="name" class="form-check-label">
		{{ value ? 'Enabled' : 'Disabled' }}
	</label>
</div>
